<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <h2>Product List</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th><a th:href="${'/admin/new'}">ADD</a></th>
                    </tr>
                    <tr th:each="item : ${listItems}">
                        <td th:text="${item.id}"><a href="/product/${product.id}">Id</a></td>
                        <td th:text="${item.name}">name</td>
                        <td th:text="${item.category}">category</td>
                        <td th:text="${item.amount}">amount</td>
                        <td th:text="${item.price}">price</td>
                        <td><a th:href="${ '/view/item/' + item.id}">View</a></td>
                        <td><a th:href="${'/admin/edit/' + item.id}">Edit</a></td>
                        <td><a th:href="${'/item/delete/' + item.id}">Delete</a></td>

                    </tr>
                </table>
            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
        </div>
    </div>

</body>
</html>